
module java 1.0;

require {
	type tmp_t;
	type httpd_exec_t;
	type httpd_t;
	type httpd_sys_script_t;
	type proc_net_t;
	type httpd_sys_rw_content_t;
	class process signull;
	class dir { getattr search };
	class file { read getattr open execute execute_no_trans };
}

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t httpd_exec_t:dir { getattr search };
allow httpd_sys_script_t httpd_sys_rw_content_t:file { execute execute_no_trans };
allow httpd_sys_script_t httpd_t:process signull;
allow httpd_sys_script_t proc_net_t:file { read getattr open };
allow httpd_sys_script_t tmp_t:file open;
