<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://s3-us-west-2.amazonaws.com/ios-agent-build/agtqr20170127090253/agte/agent.ipa</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.shevirah.dagah</string><key>bundle-version</key><string>312</string><key>kind</key><string>software</string><key>title</key><string>iOS Agent</string></dict></dict></array></dict></plist>
